@import "../../../../styles/base/variables";
// .saving-card {
//   border-radius: 1rem;
//   overflow: hidden;
//   position: relative;
//   img {
//     // max-width: 20rem;
//     width: 100%;
//     height: 41rem;
//     object-fit: cover;
//   }
//   .card-content {
//     display: block;
//     width: 60%;
//     margin-inline: auto;
//     background: pink;
//     padding: 5rem 10rem 3rem 2rem;
//     // clip-path: polygon(1% 36%, 100% 0%, 75% 100%, 0% 100%);
//     // clip-path: polygon(0% 15%, 83% 2%, 73% 101%, 0% 100%);
//     clip-path: polygon(0% 20%, 83% 2%, 73% 101%, 0% 100%);
//     min-height: 20rem;
//     margin-top: -8rem;
//     box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
//     -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
//     -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
//   }
// }
// .saving-card {
//   position: relative;
//   border-radius: 1rem;
//   overflow: hidden;
//   width: 100%;
//   max-width: 40rem;
//   .image-container {
//     position: relative;
//     width: 100%;
//     height: 25rem; // Adjust the height as needed
//     border-radius: inherit;
//     overflow: hidden;
//     img {
//       border-radius: inherit;
//     }
//   }
//   .card-content {
//     position: absolute;
//     bottom: -3rem; // Move the content slightly outside the card
//     left: 50%;
//     transform: translateX(-50%);
//     width: 90%;
//     background-color: pink;
//     padding: 2rem;
//     box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
//     border-radius: 1rem;
//     z-index: 1; // Ensure it stays on top of the image
//     text-align: center;
//   }
// }
.saving-card {
  position: relative;
  border-radius: 1rem;
  overflow: visible; // Allow content to extend beyond the container
  width: 100%;
  max-width: 40rem;
  height: 45rem; // Adjust the height as needed

  .image-container {
    position: relative;
    width: 100%;
    height: 40rem; // Adjust the height as needed
    border-radius: inherit;
    overflow: hidden;

    img {
      border-radius: inherit;
    }
  }

  .card-content {
    color: $white-000;
    position: absolute;
    bottom: -2rem;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
    min-height: 20rem;
    background-color: $pink;
    padding: 2rem;
    box-shadow: 10px 10px 5px 0px rgba(255, 255, 255, 1);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(255, 255, 255, 1);
    -moz-box-shadow: 10px 10px 5px 0px rgba(255, 255, 255, 1);
    z-index: 1;
    // clip-path: polygon(0% 20%, 83% 2%, 73% 101%, 0% 100%);
    &.two {
      background-color: $orange;
    }
    &.three {
      background-color: $purple;
    }
    &.four {
      background-color: $green;
    }
    &.five {
      background-color: $yellow;
    }
    &.six {
      background-color: $primary-600;
    }
  }
}
