.sub-page-banner {
  margin-top: 7rem;
  background: url(../../../../public/subPage-banner.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3rem;
  text-align: center;
  h1 {
    line-height: 5.3rem;
  }
}
