@import "../../../../../styles/base/variables";

.dashboard-sidebar {
  height: 100vh;
  overflow-y: auto;
  width: 250px;
  position: relative;
  z-index: 99999 !important;
  border-radius: 0 10rem 0 0;
  @media (max-width: 1050px) {
    width: 200px;
  }
  &__x-padding {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  &__logo {
    max-width: 80px !important;
  }

  .divider {
    border-color: $gray-400;
  }

  .icons {
    font-size: 1.9rem;
  }

  &__link:hover {
    background-color: $primary-500;
    color: white !important;
  }

  .active-link {
    background-color: $primary-500;
    color: white;
  }

  .inactive-link {
    color: black;
  }

  &::-webkit-scrollbar {
    width: 3px;
    border-radius: 100%;
  }

  &::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 20px;
    opacity: 0;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: $primary-500;
  }

  &:hover::-webkit-scrollba {
    background: lighten($primary-500, 10);
    opacity: 25;
  }

  &:hover::-webkit-scrollbar-thumb {
    background: lighten($primary-500, 10);
    opacity: 25;
  }
  .nav-logo {
    width: 19rem;
    height: auto;
    object-fit: contain;
    @media (max-width: 1050px) {
      width: 15rem;
    }
  }
}
