@import "../../../styles/base/variables";

.nav-fixed {
  position: fixed;
  z-index: 10;
  width: 100%;
  top: 0;
}

nav {
  padding-block: 1rem;
  background-color: $white-000;
  // border-bottom: 0.1rem solid $grey-10;

  .nav-logo {
    // width: 19rem;
    object-fit: contain;
  }
  .d-nil {
    @media (max-width: 800px) {
      display: none;
    }
  }

  .navbar {
    .navbar-items {
      display: flex;
      align-items: center;
      gap: 2rem;

      // @media (max-width: 1200px) {
      //   flex-wrap: wrap;
      // }
      // @media (max-width: 959px) {
      //   gap: 1.4rem;
      //   margin-right: -2rem;
      // }
      // @media (max-width: 830px) {
      //   gap: 1.1rem;
      // }

      .dropdown-menu {
        padding-left: 5px;
        padding-right: 5px;
      }

      .dropdown-toggle::after {
        content: url("https://api.iconify.design/pepicons/angle-down.svg?color=white");
      }

      .dropdown-item {
        font-size: 1.3rem;
        color: $black-000;
        padding-block: 0.7rem;
        border-radius: none;
        margin-top: 5px;
        margin-bottom: 5px;
      }

      .dropdown-item:nth-child(odd) {
        background: #e9e8e8 !important;
      }

      .dropdown-item:nth-child(odd):hover {
        background: #ebeaea !important;
      }

      .dropdown-item:nth-child(even) {
        background: #ede6e6 !important;
      }

      .dropdown-item:nth-child(even):hover {
        background: #ebeaea !important;
      }

      .btn {
        border-radius: 1rem;
      }
    }
  }
}
