@import "../../../../styles/base/variables";

.nav-fixed {
  position: fixed;
  z-index: 10;
  width: 100%;
  top: 0;
}

nav {
  padding-block: 1rem;
  background-color: $white-000;

  .nav-logo {
    // width: 19rem;
    object-fit: contain;
  }
  .d-nil {
    @media (max-width: 800px) {
      display: none;
    }
  }

  .navbar {
    .navbar-items {
      display: flex;
      align-items: center;
      gap: 4rem;
      .dropdown {
        position: relative;
        display: flex;
        gap: 1rem;
        align-items: center;
        font-size: 1.4rem;
        color: $black-000;
        .dropdown-content {
          display: none;
          position: absolute;
          background-color: #f9f9f9;
          min-width: 160px;
          box-shadow: 0px 8px 16px 0px rgba($black-000, 0.2);
          padding: 1rem;
          z-index: 1;
          border-radius: 0 1rem 1rem 1rem;
          left: 7px;
          p {
            padding: 0.5rem;
            cursor: pointer;
            &:hover {
              display: block;
              color: $primary-500;
              background-color: rgba($primary-600, 0.2);
              border-radius: 0.4rem;
            }
          }
        }
        &:hover .dropdown-content {
          display: block;
        }
      }

      .btn {
        border-radius: 1rem;
      }
    }
  }
}
