@import "./variables";

.form-control {
  background: $white-000;
  border: 0.1rem solid rgba($color: $gray-300, $alpha: 0.5);
  min-height: 4.5rem;
  font-size: 1.5rem;
  display: block;
  padding: 1rem 1.3rem;
  width: 100%;
  &:focus,
  &:active {
    box-shadow: none !important;
    outline: none !important;
    border: 0.1rem solid $primary-500;
  }

  &::placeholder {
    color: $gray-400;
    font-family: "Inter", sans-serif;
    font-size: 1.4rem;
  }
}
select.form-control {
  -webkit-appearance: none;
  appearance: none;
  overflow: hidden;
  overflow: -moz-hidden-unscrollable;
  background: url("https://api.iconify.design/pepicons/angle-down.svg")
    no-repeat right;
  background-color: $white-000;
  background-position: 98%;
}

label {
  font-weight: 600;
  display: block;
}
